<div id="stationBar" *ngIf="showStationBar">
    <h2>{{currentStation.stationName}}</h2>

    <h4>Info:</h4>
    <p>{{currentStation.stationInfo}}</p>

    <h4 *ngIf="currentStation.creatorID">Created by: {{currentStation.creator.displayName}}</h4>

    <div *ngIf="currentStation.stationName === 'No Station'">
        <h4>Playlist Selected:</h4>
        <p *ngIf="selectedPlaylist">{{selectedPlaylist.name}}</p>
        <p *ngIf="!selectedPlaylist">none (use the playlist bar)</p>
        <button *ngIf="selectedPlaylist" (click)="createRadio()">Create Radio</button>
    </div>
</div>
