#player {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: solid;
}

.buttonBox {
    width: 15em;
    padding: 5px;
}

#currentDiv {
    columns: 6rem 2;
    column-gap: 15px;
}

#stationInfo {

}

#currentImage img {
    border: solid;
    max-width:100%;
    max-height:100%;
}

#currentInfo {

}