<div id="seeker">
    <span>Imma seek soon</span>
</div>
<div id="player">
    <span id="currentDiv">
        <div id="currentImage">
            <img>
        </div>
        <div id="currentInfo">
            <h3 id="currentName">Better Life</h3>
            <h5 id="currentArtist">3 Doors Down</h5>
        </div>
    </span>

    <span id="playButton">
        <span data-feather="circle"></span>
    </span>

    <span id="stationInfo">
        <h4>Driving 6</h4>
        <h3>bdog66</h3>
        <img>
    </span>
</div>
