#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid;
}

h2 {
    margin-left: 10px;
}

#stationNum {
    font-size: xx-large;
    margin-right: 10px;
}