// Utilities
@use "src/app/global"as global;

#head {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    button {
        text-align: center;
        width: 40px;
        height: 40px;
    }
}

table {
    width: 100%;
    background-color: black;
    font-family: 'Courier New', Courier, monospace;
    border: solid;
    
    .mat-header-cell, .mat-cell {
        border-color: white;
        color: white;
    }
}

@media only screen and (max-width: global.$mobileWidth) {
    #head {
        margin-bottom: 10px;
        button {
            text-align: center;
            width: 30px;
            height: 30px;
        }
        h2 {
            font-size: 15px;
        }
    }
    table {
        .mat-header-cell:first-of-type, .mat-cell:first-of-type {
            padding-left: 10px;
        }

        .mat-header-cell, .mat-cell {
            text-align: center;
        }
    }
}
