<div id="appDiv">
  <div id="header">
    <h2>am_radio</h2>
    <div>
      <a href="https://twitter.com/captainbrandooo" target="_blank" class="icon">
        <fa-icon [icon]="faTwitter" size="2x"></fa-icon>
      </a>
      <a href="https://github.com/cptnbrando/am_radio" target="_blank" class="icon">
        <fa-icon [icon]="faGithub" size="2x"></fa-icon>
      </a>
    </div>
  </div>

  <div id="appWindow">
    <div id="overlay">
      <div id="arrows">
        <div>
          <fa-icon [icon]="faAngleDoubleLeft" class="clickable" size="4x" (click)="loginPage()" *ngIf="this.currentPage !== 0"></fa-icon>
        </div>
        <div>
          <fa-icon [icon]="faAngleDoubleRight" class="clickable" size="4x" (click)="aboutPage()" *ngIf="this.currentPage !== 1"></fa-icon>
        </div>
      </div>
    </div>
    <div id="appPage">
      <div id="loginPage" class="page" *ngIf="this.currentPage === 0">
        <h1>welcome to am_radio</h1>
        <button (click)="login()" class="clickable spotifyButton">
          <fa-icon [icon]="faSpotify"></fa-icon> Login with Spotify
        </button>
      </div>
      <div id="aboutPage" class="page" *ngIf="this.currentPage === 1">
        <div>
          <h1>about</h1>
          <br>
          <p>am_radio is a way to share and listen to Spotify playlists with others.</p>
          <p>Log in and the app will play one of your recently played playlists. 
            From there, you can listen to your own music or browse user created stations.</p>
          <p>You can also chat with other users. Everything you hear will be in sync 
            with everybody else.</p>
          <p>You can create your own radio station from one of your playlists if the number is unowned. 
            Anybody on that station will be listening in sync with you. Share it with friends 
            and have a party 🎉</p>
          <p>I'm working on other features including a visualizer, a better chat system, mobile compatibility, 
            and more. Gimme a minute, coding is hard!</p>
          <p>If you're interested in the project, <a href="https://github.com/cptnbrando/am_radio" target="_blank">the
            github can be found here</a>. You can also reach me on Twitter <a href="https://twitter.com/captainbrandooo" target="_blank">
            @CaptainBrandooo</a>.</p>
          <br><br>
          <p>Thank you,<br>
            Captain Brando!</p>
        </div>
        <div>
          <a href="https://www.instagram.com/captainbrandooo/" target="_blank" class="icon">
            <fa-icon [icon]="faInstagram" size="2x"></fa-icon>
          </a>
          <a href="https://www.youtube.com/c/captainbrando" target="_blank" class="icon">
            <fa-icon [icon]="faYoutube" size="2x"></fa-icon>
          </a>
          <a href="https://open.spotify.com/artist/5jAV7NfXioEK4rS1WmoeDA" target="_blank" class="icon">
            <fa-icon [icon]="faSpotify" size="2x"></fa-icon>
          </a>
        </div>
      </div>
    </div>
  </div>

  <div id="footer">
    <h3>&#169; Created by Captain Brando! 2021</h3>
    <h4>v0.5.0</h4>
  </div>
</div>
