#controlsBar {
  // position: absolute;
  // float: inline-start;
  // left: 25em;
  // width: 70em;
  // margin-left: 15px;
  border: solid;
  border-color: blue;

  height: 100%;

  color: white;
  // flex-direction: row;

  // flex: 1;
}