// Utilities
@use "src/app/global"as global;

#settingsPanel {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

.setting {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: solid;
}

.padded {
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
}

.settingList {
    border: solid;
    ul {
        margin: 0;
    }

    .device {
        margin: 0;
        margin-bottom: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        list-style-type: none;
        border: solid;
        height: 45px;
        &:hover {
            border-color: yellow;
        }
    }
}

@media only screen and (max-width: global.$mobileWidth) {
    .padded {
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 5px;
        padding-bottom: 10px;

        h2 {
            font-size: 16px;
        }
        h5 {
            font-size: 10px;
        }
    }
}