<div id="stationsPanel">
    <div id="head">
        <h2>Active Stations</h2>
        <button class="clickable"><fa-icon [icon]="faRedo" (click)="refreshStations()"></fa-icon></button>
    </div>
    <h4 *ngIf="this.isMobile === false">click to play</h4>
    <table mat-table [dataSource]="allStations" class="mat-elevation-z8" *ngIf="this.isMobile === false">
        <ng-container *ngFor="let column of columns" [matColumnDef]="column.columnDef">
            <th mat-header-cell *matHeaderCellDef>
                {{column.header}}
            </th>
            <td class="scrollCheck" mat-cell *matCellDef="let row">
                {{column.cell(row)}}
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row class="clickable scrollContainer" *matRowDef="let row; columns: displayedColumns;" (click)="changeStation(row)">
        </tr>
    </table>
    <mobile-stations *ngIf="this.isMobile === true" [allStations]="this.allStations"
      (changeStationEvent)="changeStation($event)"></mobile-stations>
</div>
