#controlsBar {
  border: solid;
  border-color: blue;
  height: 100%;
  color: white;

  display: flex;
  flex-direction: row;

  #tabs {
    display: flex;
    flex-direction: column;
    flex: .2;
    padding-top: 30px;
    padding-bottom: 30px;
    justify-content: space-between;
    .tab {
      border: solid;
      padding: 15px;
      &:hover {
        border-color: rgb(255, 211, 0);
      }
    }
    .selected {
      border-color: rgb(255, 211, 0);
      font-weight: bold;
    }
  }

  #controlsPanel {
    border: solid;
    flex: 1;
    padding: 25px;
  }
}