#controlsBar {
  border: solid;
  border-color: blue;
  color: white;
  height: 99%;
  position: relative;
  display: flex;

  #window {
    display: block;
    position: absolute;
    height: 100%;
    width: 100%;

    div {
      display: flex;
      flex-direction: row;
      height: 100%;

      #tabs {
        display: flex;
        flex-direction: column;
        flex: .2;
        justify-content: space-between;

        .tabGroup {
          flex-direction: column;
          text-align: center;
        }

        #tabGroup2 {
          justify-content: flex-end;
        }
  
        .tab {
          border: solid;
          padding: 15px;
          height: 25px;
  
          &:hover {
            border-color: rgb(255, 211, 0);
          }
        }
  
        .selected {
          border-color: rgb(255, 211, 0);
          font-weight: bold;
        }
      }

      #controlsPanel {
        display: block;
        height: calc(100% - 55px);
        border: solid;
        flex: 1;
        padding: 25px;
        overflow-y: auto;
      }
    }
  }
}