<div id="controlsBar" *ngIf="showControls">
    <!-- <p>Controls</p>
    <p>Visualizer: </p>
    <input class="form-control" type="text" placeholder="message" (click)="typing()" [(ngModel)]="input" />
    <button class="btn btn-success" (click)="sendMessage()">Send</button>
    <div class="content">
        <div *ngFor="let msg of socketService.msg">
            {{msg}}
        </div>
    </div> -->

    <div id="tabs">
        <div>
            <div (click)="tabClick(3)" class="clickable tab" id="tab3">Visualizer</div>
            <div (click)="tabClick(2)" class="clickable tab" id="tab2">Chat</div>
        </div>
        <div>
            <div (click)="tabClick(1)" class="clickable tab" id="tab1">Settings</div>
            <div (click)="tabClick(0)" class="clickable tab" id="tab0">About</div>
        </div>
    </div>
    <div id="controlsPanel">
        <about *ngIf="selected === 0"></about>
        <app-settings *ngIf="selected === 1"></app-settings>
        <chat *ngIf="selected === 2"></chat>
        <visualizer-settings *ngIf="selected === 3"></visualizer-settings>
    </div>
</div>
