<div id="seeker">
    <span>Imma seek soon</span>
</div>
<div id="player">
    <div id="currentDiv" class="playerItem row">
        <div id="currentImage" class="album column clickable" (click)="toggleBar(0)">
            <img [src]="currentlyPlaying.album.images[0].url" alt="image">
        </div>
        <div id="currentInfo" class="info column clickable" (click)="toggleBar(0)">
            <div id="currentName">{{this.currentlyPlaying.name}}</div>
            <div id="currentArtist">{{this.currentlyPlaying.artists[0].name}}</div>
            <div id="currentAlbum">{{this.currentlyPlaying.album.name}}</div>
            <div id="currentPlaylist" *ngIf="this.stationNum === 0 && this.playingPlaylist != null">Playlist: {{this.playingPlaylist.name}}</div>
        </div>
    </div>

    <div id="playerIcons" class="playerItem">
        <div (click)="shuffleChange()" *ngIf="stationNum === 0" class="clickable">
            <fa-icon [icon]="faRandom" size="2x" *ngIf="!shuffle"></fa-icon>
            <fa-icon [icon]="faRandom" size="2x" *ngIf="shuffle" class="selected"></fa-icon>
        </div>
        <fa-icon [icon]="faAngleLeft" (click)="back()" *ngIf="stationNum === 0" class="clickable" size="3x">
        </fa-icon>
        <fa-icon [icon]="faPlay" (click)="togglePlay()" *ngIf="!isPlaying" class="clickable" size="3x"></fa-icon>
        <fa-icon [icon]="faPause" (click)="togglePlay()" *ngIf="isPlaying" class="clickable" size="3x"></fa-icon>
        <fa-icon [icon]="faAngleRight" (click)="skip()" *ngIf="stationNum === 0" class="clickable" size="3x"></fa-icon>
        <div (click)="repeatChange()" *ngIf="stationNum === 0" class="clickable">
            <fa-icon [icon]="faSync" size="2x" *ngIf="repeat === 0"></fa-icon>
            <fa-icon [icon]="faSync" size="2x" *ngIf="repeat === 1" class="selected"></fa-icon>
            <fa-icon [icon]="faRecycle" size="2x" *ngIf="repeat === 2" class="selected"></fa-icon>
        </div>
    </div>

    <div id="stationInfo" class="playerItem">
        <div class="vertical">
            <div class="clickable" (click)="toggleBar(1)">
                <div>{{this.currentStation.stationName}}</div>
                <div>{{this.user.displayName}}</div>
                <div>{{this.currentDevice.name}}</div>
            </div>
            <div class="horizontal">
                <div class="clickable" (click)="toggleMute()" id="volumeIcon">
                    <fa-icon [icon]="faVolumeUp" *ngIf="this.volume > 50"></fa-icon>
                    <fa-icon [icon]="faVolumeOff" *ngIf="this.volume === 0"></fa-icon>
                    <fa-icon [icon]="faVolumeDown" *ngIf="this.volume <= 50 && this.volume != 0"></fa-icon>
                </div>
                <mat-slider min="0" max="100" step="1" [(ngModel)]="volume" (change)="changeVolume()"></mat-slider>
            </div>
        </div>
    </div>
</div>
