<div class="overlay">
  <app-header [showControls]="showControls" (toggleBarEvent)="toggleBar($event)" [stationNum]="stationNum" (changeStationEvent)="changeStation($event)"></app-header>

  <div id="settingsBars">
    <app-playlist-bar class="side setting" [showPlaylistBar]="showPlaylistBar" [selectedPlaylist]="selectedPlaylist" [userPlaylists]="userPlaylists" (changePlaylistEvent)="changePlaylist($event)"></app-playlist-bar>
    <app-controls class="mid setting" [showControls]="showControls"></app-controls>
    <app-station-bar class="side setting" [stationNum]="stationNum" [showStationBar]="showStationBar" [currentStation]="currentStation" [selectedPlaylist]="selectedPlaylist" (createdStation)="createdStation()"></app-station-bar>
  </div>

  <app-player id="appPlayer" [stationNum]="stationNum" [currentDevice]="currentDevice"
    [showPlaylistBar]="showPlaylistBar" [showStationBar]="showStationBar" (toggleBarEvent)="toggleBar($event)"
    [currentlyPlaying]="currentlyPlaying" [isPlaying]="isPlaying" [position]="position" [user]="user"
    [currentStation]="currentStation"></app-player>
  
</div>

<app-visualizer id="visualizer" appDomWatcher (ready)="onPlayerReady($event)" (currentChange)="onCurrentChange($event)"
  (playbackChange)="onPlaybackChange($event)" (positionChange)="onPositionChange($event)" (nextChange)="onNextChange($event)"></app-visualizer>
