<div id="overlay">
  <app-header [showControls]="showControls" (toggleBarEvent)="toggleBar($event)" [stationNum]="stationNum"
    (changeStationEvent)="changeStation($event)" [isLoading]="isLoading" (toggleLoadingEvent)="toggleLoading($event)">
    </app-header>

  <div id="settingsBars">
    <app-playlist-bar class="side setting" [showPlaylistBar]="showPlaylistBar" [selectedPlaylist]="selectedPlaylist"
      [selectedPlaylistTracks]="selectedPlaylistTracks" [userPlaylists]="userPlaylists"
      (changePlaylistEvent)="changePlaylist($event)" (playPlaylistEvent)="playPlaylist()"
      (playTrackEvent)="playTrack($event)" (toggleLoadingEvent)="toggleLoading($event)"></app-playlist-bar>
    <app-controls class="mid setting" [showControls]="showControls" (isTypingEvent)="toggleTyping($event)"></app-controls>
    <app-station-bar class="side setting" [stationNum]="stationNum" [showStationBar]="showStationBar" [currentStation]="currentStation" [selectedPlaylist]="selectedPlaylist" (createdStation)="createdStation()"></app-station-bar>
  </div>

  <app-player id="appPlayer" [stationNum]="stationNum" [currentDevice]="currentDevice"
    [showPlaylistBar]="showPlaylistBar" [showStationBar]="showStationBar" (toggleBarEvent)="toggleBar($event)"
    [currentlyPlaying]="currentlyPlaying" [isPlaying]="isPlaying" [position]="position" [user]="user"
    [currentStation]="currentStation" [repeat]="repeat" [shuffle]="shuffle" [playingPlaylist]="playingPlaylist" (toggleLoadingEvent)="toggleLoading($event)" [isLoading]="isLoading" [isTyping]="isTyping" (volumeEvent)="changeVolume($event)" [volume]="volume"></app-player>
  
</div>

<app-visualizer id="visualizer" appDomWatcher (ready)="onPlayerReady($event)" (currentChange)="onCurrentChange($event)"
  (playbackChange)="onPlaybackChange($event)" (positionChange)="onPositionChange($event)" (nextChange)="onNextChange($event)" (shuffleChange)="onShuffleChange($event)" (repeatChange)="onRepeatChange($event)"></app-visualizer>
