#playlistBar {
    // position: absolute;
    // left: 5px;
    // float: left;
    // width: 25em;
    border: solid;
    border-color: green;

    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 240px;

    color: white;

    // flex: 1;
}