<div id="appDiv">
  <app-header id="appHeader" [showControls]="showControls" (toggleBarEvent)="toggleBar($event)" [stationNum]="stationNum" (changeStationEvent)="changeStation($event)"></app-header>

  <div id="appWindow">
    <app-visualizer class="under"></app-visualizer>

    <div id="settingsBars" class="over thirds">
      <app-playlist-bar [showPlaylistBar]="showPlaylistBar" [user]="user" [userPlaylists]="userPlaylists" class="settings"></app-playlist-bar>
      <app-controls [showControls]="showControls" class="settings"></app-controls>
      <app-station-bar [showStationBar]="showStationBar" class="settings"></app-station-bar>
    </div>
  </div>

  <app-player id="appPlayer" [showPlaylistBar]="showPlaylistBar" [showStationBar]="showStationBar" (toggleBarEvent)="toggleBar($event)" [isPlaying]="isPlaying" (isPlayingEvent)="togglePlayback()"></app-player>
</div>
