#appDiv {
  display: flex;
  flex-direction: column;
  flex: 1;
}

#appWindow {
  flex: 1;
  align-items: center;
  justify-content: center;
}

// #appPlayer {
//   z-index: 1000;
// }

#sidebars {
  z-index: 100;
}