#playlistBar {
    border: solid;
    border-color: green;
    height: 100%;
    color: white;

    #playlists, #tracks {
      max-height: 65vh;
      overflow-y: hidden;
    }

    .bigList {
      max-height: inherit;
      overflow-y: auto;
    }

    li {
      border: 1px solid white;
      padding: 10px;

      &:hover {
        border: 2px solid yellow;
      }
    }

    #tracksBack {
      &:hover {
        color: yellow;
      }
    }
}