#stationBar {
    // position: absolute;
    // width: 25em;
    // float: right;
    // right: 1px;
    border: solid;
    border-color: red;

    // flex-wrap: nowrap;
    // flex: 1;

    color: white;

    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 240px;

    // flex: 1;
}